body
{
background: url("background1.jpg");
background-size:cover;
text-align: center;
font-family: 'Montserrat', sans-serif;
}
.headings
{
color:white;
background-color: blue;
opacity: 0.5;
margin-top:0px;
height:40px;
font-size: 20px;
padding:10px;
}
.headings:hover
{
font-size: 24px;
}
.span1
{
    float: right;
}
#status
{
    background-color: royalblue;
    color: seashell;
}
.div1
{
    display:inline-block;
}